/* General */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: hsl(0, 0%, 10%);
  margin: 64px;
}


/* General */
header {
  text-align: center;
  border-bottom: ;
}

p {
  text-align: justify;
  line-height: 1.5em;
}