<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Penulis -->
  <meta name="author" content="Ahmad Nawawi">

  <!-- Mata Kuliah dan Judul Materi -->
  <title>Mata Kuliah - Judul Materi</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../../iframe.css">
</head>
<body>

  <!-- Judul Materi -->
  <header>
    <h1>Judul Materi</h1>
    <hr>
  </header>

  <section>

    <!-- Sub Materi -->
    <article>

      <!-- Judul Sub Materi -->
      <h1>Judul Sub Materi 1</h1>

      <!-- Paragraf -->
      <p>Ini adalah paragraf pertama.</p>
      <p>Ini adalah paragraf kedua.</p>

      <!-- Daftar Bernomor -->
      <ol>
        <li>Pertama</li>
        <li>Kedua</li>
        <li>Ketiga</li>
      </ol>

      <!-- Daftar Tak Bernomor -->
      <ul>
        <li>Pertama</li>
        <li>Kedua</li>
        <li>Ketiga</li>
      </ul>

      <!-- Garis Batas -->
      <hr>
    </article>

    <!-- Sub Materi -->
    <article>

      <!-- Judul Sub Materi -->
      <h1>Judul Sub Materi 2</h1>

      <!-- Paragraf -->
      <p>Ini adalah paragraf pertama.</p>
      <p>Ini adalah paragraf kedua.</p>

      <!-- Daftar Bernomor -->
      <ol>
        <li>Pertama</li>
        <li>Kedua</li>
        <li>Ketiga</li>
      </ol>

      <!-- Daftar Tak Bernomor -->
      <ul>
        <li>Pertama</li>
        <li>Kedua</li>
        <li>Ketiga</li>
      </ul>

      <!-- Garis Batas -->
      <hr>
    </article>

  </section>
</body>
</html>